.sidebar {
  width: 13.75rem;
  height: 100%;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-title {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: 100px;
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 2.25rem 0;
  width: 9.0625rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 1.875rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 3.125rem 4.375rem;
  flex-grow: 1;
  overflow: auto;
  background-color: #f6f8fb;
}

.App-logo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 50px;
}
