.main-blog {
  margin: 0.625rem;
  background-size: 80%;
  background-color: #3a8bfe;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 31.25rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  align-self: stretch;
  overflow: hidden;
  position: relative;
}

.main-blogs {
  display: flex;
  align-items: center;
}
