* {
  margin: 0px;
  padding: 0px;
}

body {
  background-position: center;
  background-size: cover;
  background-blend-mode: color-dodge;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em;
  height: 100vh;
  overflow: hidden;
}
